.products__item-page {
    padding: 50px 0;
}

.slideproduct {
    position: relative;
}

.slideproduct .slides {
    margin: 0;
    padding: 0;
}

.slides-item {
    border: 1px solid #e2e01a;
    margin: 5px;
    padding: 1px;
    text-align: center;
    display: inline-block;
}

.slides-item span {
    cursor: pointer;
}

.slides-item img {
    width: 56px;
    height: 56px;
}

.product__item--title h1 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 22px;
    text-transform: capitalize;
}

.product__item--title span {
    font-size: 14px;
    color: #333;
    padding-left: 2px;
}

.product__item--price {
    border-bottom: 1px solid #e2e01a;
    padding-bottom: 12px;
    margin-top: 10px;
}

.product__item--price span {
    font-size: 24px;
    color: #db2121;
    margin-right: 25px;
}

.selector-wrapper {
    margin-top: 17px;
}

.selector-wrapper label {
    font-size: 13px;
    color: #333;
    display: block;
}

.selector-wrapper-input {
    text-indent: 10px;
    height: 35px;
    border: 1px solid #e2e01a;
    max-width: 100%;
    border-radius: 0;
    width: 60px;
    margin-bottom: 10px;
}

.product__item--detail {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.product__item--detail-desc {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    width: 100%;
    border-bottom: 1px solid #333;
    padding: 6px 0;
}

.product__item--detail-wrapper {
    overflow-x: auto;
    margin-top: 20px;
}

.product__item--detail-name {
    color: #333;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.list-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}