<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Lesson1Controller</servlet-name>
        <servlet-class>controller.Lesson1Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lesson2Controller</servlet-name>
        <servlet-class>controller.Lesson2Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lesson3Controller</servlet-name>
        <servlet-class>controller.Lesson3Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lesson1Controller</servlet-name>
        <url-pattern>/calc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lesson2Controller</servlet-name>
        <url-pattern>/lession2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lesson3Controller</servlet-name>
        <url-pattern>/ls3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
