@media only screen and (max-width: 1199px) {
  .header__logo-img {
    max-height: 45px;
  }
  .header__aside--cart-icon {
    width: 45px;
    height: 45px;
  }
  .header__aside--cart-quantity {
    width: 16px;
    height: 18px;
    top: 6px;
  }
  .header__aside--info-bottom,
  .header__aside--info-top {
    display: none;
  }
  .header__aside--info-user {
    font-size: 2rem;
    color: var(--text-color);
  }
  .header__aside {
    align-items: center;
  }
  .header__aside--info-user:hover {
    color: var(--red-color);
  }
  .header__main--search {
    position: absolute;
    width: 100%;
    top: 100%;
  }
  .header__main--search-input {
    width: calc(100% - 70px);
  }
  .navbar {
    height: 100vh;
    width: 30rem;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.3s all ease;
    transform: translateX(102%);
    box-shadow: rgba(66, 165, 245, 0.3) 4px 4px 16px;
    align-items: flex-start;
  }
  .navbar .container {
    padding: 0;
  }
  .navbar__main {
    flex-direction: column;
    margin-top: 120px;
  }
  .navbar__main--menu {
    flex-direction: column;
    align-items: start;
    width: 100%;
    text-align: left;
    align-items: flex-start;
    margin-top: -100px;
  }
  .navbar__main--menu li {
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
  }
  .navbar__main--link-right {
    font-size: 1.4rem;
    cursor: pointer;
    display: block;
    width: 10%;
    text-align: center;
    width: 30px;
  }
  .navbar__collapse--icon {
    display: block;
  }
  .navbar__main--menu > li:first-child .navbar__main--link {
    padding-left: 20px;
  }
  .navbar__main--menu > li:nth-child(3) .navbar__main--link,
  .navbar__main--menu > li:nth-child(4) .navbar__main--link {
    width: 90%;
  }
  .navbar__main--link {
    padding: 10px 20px;
    width: 100%;
  }
  .dropdown-list {
    height: 100%;
    width: 300px;
    max-width: 300px;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: #fff;
    overflow-y: hidden;
    transition: 0.3s all ease-in-out;
    transform: translateX(120%);
    box-shadow: rgba(66, 165, 245, 0.3) 4px 4px 16px;
    border: none;
  }
  .dropdown-title {
    display: flex;
    font-size: 1.4rem;
    padding-bottom: 10px;
  }
  .dropdown-title-icon {
    display: block;
    cursor: pointer;
    padding: 0 5px;
  }
  .dropdown-title-text {
    display: block;
    width: 90%;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
  }
  .navbar-resposive {
    transform: translateX(0);
  }
  .navbar-resposive-2 {
    transform: translateX(0);
    display: block;
    transition: 0.3s all ease-in-out;
  }
  .navbar__main--menu > li:hover .dropdown-list {
    display: none;
  }
  .guest {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3rem;
    background: url(../img/img-square.png) 5% 15%/12% no-repeat #72b8ee;
  }
  .close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    z-index: 5;
    color: var(--white);
    display: block;
  }
  .navbar__main--phone {
    text-align: left;
    width: 100%;
    padding: 0 20px;
    margin-top: 10px;
  }
  .navbar__main--link-icon {
    display: none;
  }
  .hasDropdown {
    position: relative;
  }
  .container {
    max-width: 100%;
  }
  .main__content .container {
    width: 960px;
  }
  .slides {
    margin-top: 50px;
  }
  .bg-banner {
    position: relative;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .products__item {
    margin-bottom: 0;
  }
  .products__item--img {
    height: 211px;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    margin: 0;
    width: 900px;
  }
  .products__list {
    border-top: 1px solid var(--primary-color);
  }
  .products__item {
    height: 269px;
    margin-bottom: 15px;
    padding: 0 5px;
  }
  .products__item--img {
    height: 175px;
  }
  .col-no-padding {
    width: 50%;
    padding: 10px 0;
    position: relative;
    border-right: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
  }
  .btn-readmore {
    margin-top: 30px;
  }
  .main__content--heading {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }
  .sidebar__inner--menu {
    display: none;
  }
  .sidebar__inner--responsive {
    display: inline-block;
    padding: 4px;
    margin-left: 6px;
    cursor: pointer;
  }
  .sidebar__inner--title {
    cursor: pointer;
    width: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 750px;
    margin: 0 auto;
  }
  .products__item {
    height: 418px;
  }
  .products__item--img {
    height: 324px;
    overflow: hidden;
  }
  .products__item--actions {
    display: none !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 690px) {
  .products__item {
    height: 396px;
  }
  .products__item--img {
    height: 300px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .products__item {
    height: 300px;
  }
  .products__item--img {
    height: 200px;
    overflow: hidden;
  }
}
