.form-control {
    margin: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 350px;
}

.form-control label {
    font-size: 1.4rem;
    font-weight: 500;
    width: 80px;
}

.form-control input {
    padding: 8px 12px;
    width: 220px;
}

.form-message {
    font-size: 14px;
    color: red;
    display: block;
    margin: 10px 0 5px 80px;
}

.form-message-error {
    color: red;
    font-size: 1.4rem;
    margin: 5px 0 5px 80px;
}

/* #username:focus {
    border: 1px solid red;
} */

.border {
    border: 2px solid red;
}

.signup-btn {
    padding: 16px 30px;
    border: none;
    background-color: var(--red-color);
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
}

.signup-btn:focus {
    border: none;
    outline: none;
}

.user__page {
    padding: 50px 0;
}

.user__page--inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Account page */

.account__page {
	padding: 30px 0;
}

.account__page--title {
    line-height: 20px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

.account__sidebar--title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    border-bottom: none;
    padding-bottom: 10px;
}

.account__sidebar--title:after {
    position: absolute;
    top: 100%;
    left: 0;
    content: "";
    width: 45px;
    height: 2px;
    background-color: var(--red-color);
}

.account__sidebar--content {
    margin-top: 20px;
}

.account__sidebar--link {
    display: inline-block;
    position: relative;
    padding: 8px 0;
    color: var(--text-color);
    font-size: 1.4rem;
}

.account__info--title {
    padding-bottom: 10px;
    font-size: 15px;
    margin-bottom: 10px!important;
    border-bottom: 1px solid var(--primary-color);
}

.account__info--name {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 15px;
}

.account__info--email {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 15px;
}


.btn-cancel {
    padding: 16px 30px;
    border: none;
    background-color: #e1e1e1;
    color: var(--text-color);
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.back-btn {
    padding: 16px 30px;
    border: none;
    background-color: var(--red-color);
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    display: inline-block;
    font-size: 1.4rem;
    margin-top: 20px;
}


.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    font-size: 1.4rem;
    max-height: 360px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    background-color: transparent;
    color: #212529;
}

table.table thead th {
    border-top: none;
    text-align: center;
}
table.table td, table.table th {
    text-align: center;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    font-weight: 400;
}









